@model IEnumerable<CodeSparks.Data.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<section class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <h2>🗂️ Projects</h2>
            <a asp-action="Create" class="btn btn-primary m-2">Add a project</a>
        </div>
        <div class="col-md-9">
            <p class="lead text-muted">
                Explore open-source initiatives, contribute to ongoing developments, or start/add your own project.
                <br />
                Our project hub is designed to inspire innovation and foster collaboration.
            </p>
        </div>
    </div>
</section>
<hr>


<div class="container mt-2">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><strong>Author:</strong> @item.Author</p>
                        <p class="card-text"><strong>Repository:</strong> <a href="@item.RepositoryUrl" target="_blank">@item.RepositoryUrl</a></p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-block float-end">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
