@model IEnumerable<CodeSparks.Data.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<div class="container mt-4">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><strong>Author:</strong> @item.Author</p>
                        <p class="card-text"><strong>Repository:</strong> <a href="@item.RepositoryUrl" target="_blank">@item.RepositoryUrl</a></p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-block float-end">View Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="mt-2">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<p class="mt-5">
    Do you know a cool open-source project?
</p>

<p>
    <a asp-action="Create" class="btn btn-primary">+ Add it to CodeSparks!</a>
</p>
