@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@model List<Spark>

@{
    var categories = Enum.GetValues(typeof(SparkCategory)).Cast<SparkCategory>();
    var selectedCategory = ViewData["SelectedCategory"] as SparkCategory?;
}

<section class="container mt-3">
    <div class="row mb-3">
        <div class="col-md-3">
            <h2>✨ Sparks</h2>
            <a asp-controller="Sparks" asp-action="Create" class="btn btn-warning m-2">Ignite a new Spark</a>
        </div>
        <div class="col-md-9">
            <p class="lead text-muted">
                Sparks are the seeds of innovation in Code Sparks. They are the ideas, suggestions, and creative concepts.
                <br />
                A Spark is a small task or idea that helps you to level up your skills. It can be something to find, learn, or create.
                Good sparks are something that people can collaborate on, like a web article, tech problem, or new technology.
            </p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <form method="get" asp-action="Index">
                <div class="input-group">
                    <select class="form-select" name="selectedCategory" onchange="this.form.submit()">
                        <option value="">All Categories</option>
                        @foreach (var category in categories)
                        {
                            <!option value="@category" @(selectedCategory.HasValue && selectedCategory.Value == category ? "selected" : "")>
                                @category
                            </!option>
                        }
                    </select>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>
        </div>
    </div>
</section>
<hr />

<div class="row">
    @foreach (var spark in Model)
    {
        if (selectedCategory == null || spark.Category == selectedCategory)
        {
            <div class="col-md-3 d-flex align-items-stretch mb-4">
                <div class="card shadow-sm h-100">
                    <a href="sparks/details/@spark.Id" class="stretched-link"></a>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-center mb-2">@spark.Name</h5>
                        <p class="card-text flex-grow-1 mb-3 description">
                            @spark.Description
                        </p>
                        <div class="mt-3">
                            <p class="text-muted text-center"><strong>Category:</strong> @spark.Category</p>
                        </div>
                        <div class="mt-auto">
                            <div class="d-flex justify-content-center">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<style>
    .description {
        max-height: 7em; /* Adjust this value for more or fewer lines */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Limit the number of lines */
        -webkit-box-orient: vertical;
    }
</style>
