@using CodeSparks.Data.Models
@model List<Spark>
@{
    var starters = new List<Spark>
    {
        new Spark { Name = "First Spark", Description = "Try me!", Id = -1 },
    };
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<section class="how-it-works container my-5">
    <h2 class="text-center mb-4">What is CodeSparks</h2>
    <div class="row">
        <div class="col-md-9">
            <p><b>codesparks.org</b> is a platform designed to ignite your passion for tech learning. Whether you're a newbie or a seasoned pro, we offer interactive challenges and projects that make learning fun and efficient.</p>

            <p>Tackle bite-sized tasks, which we call Sparks, sharpen your skills, and track your progress. Join our vibrant community of learners and level up your tech abilities, one spark at a time.</p>

            <h4 class="mt-2">Ready to light the spark?</h4>
            <p>Dive in and explore our curated collection of beginner-friendly Sparks below!</p>

        </div>

        <div class="col-md-3">
            <img src="~/img/coding_person.jpg" style="max-height:200px" class="" alt="Person Coding on a Computer">
        </div>
    </div>
</section>


<div class="container">
    <h2>❇️ Starter Sparks</h2>
    <div class="row mb-3">
        @foreach (var spark in starters)
        {
            <div class="card-deck col-md-3">
                <div class="card mb-1">
                    <a href="sparks/details/@spark.Id" class="stretched-link">  </a>
                    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
                    <div class="card">
                        <div>
                            <div class="d-flex justify-content-center">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@spark.Name</h5>
                        <p class="card-text">
                            @spark.Description
                        </p>
                    </div>
                    @* <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                </div> *@
                    <div class="card-footer">
                        <small class="text-muted">
                            @spark.Status, @spark.Category
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>

    <h2>🎆 Active Sparks</h2>
    <div class="row mb-3">
        @foreach (var spark in Model)
        {
            <div class="card-deck col-md-3">
                <div class="card mb-1">
                    <a href="sparks/details/@spark.Id" class="stretched-link">  </a>
                    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
                    <div class="card">
                        <div>
                            <div class="d-flex justify-content-center">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@spark.Name</h5>
                        <p class="card-text">
                            @spark.Description
                        </p>
                    </div>
                    @* <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                </div> *@
                    <div class="card-footer">
                        <small class="text-muted">
                            @spark.Status, @spark.Category
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>

    <a asp-controller="Sparks" asp-action="Create" class="btn btn-warning mt-3">＋ Ignite your own Spark *</a>
    <a asp-controller="Projects" asp-action="Index" class="btn btn-success mt-3">Explore Projects</a>
    <a asp-controller="Home" asp-action="About" class="btn btn-secondary mt-3">Learn More</a>
</div>


@* <h1 class="display-4">❇️🎆✨🎇✴️</h1> *@
