@using CodeSparks.Data.Models
@model List<Spark>
@{
    var starters = new List<Spark>
    {
        new Spark { Name = "First Spark", Description = "Try me!", Id = -1 },
    };
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<section class="how-it-works container my-5">
    <h2 class="text-center mb-4">How codesparks works</h2>
    <div class="row">
        <div class="col-md-9">
            <p><b>codesparks.org</b> is a platform designed to make learning to code an engaging and rewarding experience. No matter your skill level, we offer a variety of challenges that cater to your needs.</p>
            <p>Take on quests that involve real-world coding scenarios. As you complete challenges, you'll earn experience and unlock new opportunities.</p>
            <h4 class="mt-2">Not sure where to start?</h4>
            <p>We have few sparks for beginners below</p>
        </div>
        <div class="col-md-3">
            <img src="~/img/coding_person.jpg" style="max-height:200px" class="" alt="Person Coding on a Computer">
        </div>
    </div>
</section>


<div class="container">
    <h2>❇️ Starter Sparks</h2>
    <div class="row mb-3">
        @foreach (var spark in starters)
        {
            <div class="card-deck col-md-3">
                <div class="card mb-1">
                    <a href="sparks/details/@spark.Id" class="stretched-link">  </a>
                    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
                    <div class="card">
                        <div>
                            <div class="d-flex justify-content-center">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@spark.Name</h5>
                        <p class="card-text">
                            @spark.Description
                        </p>
                    </div>
                    @* <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                </div> *@
                    <div class="card-footer">
                        <small class="text-muted">
                            @spark.Status, @spark.Category
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>

    <h2>🎆 Active Sparks</h2>
    <div class="row mb-3">
        @foreach (var spark in Model)
        {
            <div class="card-deck col-md-3">
                <div class="card mb-1">
                    <a href="sparks/details/@spark.Id" class="stretched-link">  </a>
                    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
                    <div class="card">
                        <div>
                            <div class="d-flex justify-content-center">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@spark.Name</h5>
                        <p class="card-text">
                            @spark.Description
                        </p>
                    </div>
                    @* <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                </div> *@
                    <div class="card-footer">
                        <small class="text-muted">
                            @spark.Status, @spark.Category
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>

    <a asp-controller="Sparks" asp-action="Create" class="btn btn-warning mt-3">＋ Ignite your own Spark *</a>
</div>


@* <h1 class="display-4">❇️🎆✨🎇✴️</h1> *@
