@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@model List<Spark>
@{
    var starters = new List<Spark>
    {
        //new Spark { Name = "First Spark", Description = "Try me!", Id = -1 },
        //TODO: remove this line and create those sparks in database
    };
}

<section class="container text-center">
    <div style="font-weight:bolder" class="mb-4">
        <h4>
            CodeSparks helps to move tech ideas from a concept to reality.
        </h4>
    </div>
</section>

<section class="features container m3-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="~/img/quests_banner.jpg" class="card-img-top" alt="Coding Challenge Illustration">
                <div class="card-body">
                    <h5 class="card-title">Engaging Quests</h5>
                    <p class="card-text">Tackle exciting coding tasks and test your abilities in a fun and interactive environment.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a asp-area="Identity" asp-page="/Account/SignUpRequest" class="stretched-link">  </a>
                <img src="~/img/level_up_tech.jpg" class="card-img-top" alt="Badge Illustration">
                <div class="card-body">
                    <h5 class="card-title">Level-up your skills</h5>
                    <p class="card-text">Master new concepts, try your skills on practice, and showcase your progress as you become a tech guru.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a href="/home/connect" class="stretched-link">  </a>
                <img src="~/img/community.jpg" class="card-img-top" alt="Community Illustration">
                <div class="card-body nolinkstyle">
                    <h5 class="title">Connect with tech community</h5>
                    <p class="card-text nolinkstyle">Join a supportive community, share your experiences, and learn from each other.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <h2>❇️ Starter Sparks</h2>
    <div class="row mb-3">
        @if(starters.Count == 0)
        {
            <p>No starter sparks for now, the feature is going to be ready in a couple of days</p>
        }
        @foreach (var spark in starters)
        {
            <div class="card-deck col-md-3">
                <div class="card mb-1">
                    <a href="sparks/details/@spark.Id" class="stretched-link">  </a>
                    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
                    <div class="card">
                        <div>
                            <div class="d-flex justify-content-center">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@spark.Name</h5>
                        <p class="card-text">
                            @spark.Description
                        </p>
                    </div>
                    @* <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                </div> *@
                    <div class="card-footer">
                        <small class="text-muted">
                            @spark.Status, @spark.Category
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>

    @if(Model.Count > 0)
    {
        <h2>🎆 Active Sparks</h2>
    }
    
    <div class="row mb-3">
        @foreach (var spark in Model)
        {
            <div class="card-deck col-md-3">
                <div class="card mb-1">
                    <a href="sparks/details/@spark.Id" class="stretched-link">  </a>
                    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
                    <div class="card">
                        <div>
                            <div class="d-flex justify-content-center">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@spark.Name</h5>
                        <p class="card-text">
                            @spark.Description
                        </p>
                    </div>
                    @* <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                </div> *@
                    <div class="card-footer">
                        <small class="text-muted">
                            @spark.Status, @spark.Category
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>

    <a asp-controller="Sparks" asp-action="Create" class="btn btn-warning mt-3">＋ Ignite your own Spark *</a>
    <a asp-controller="Projects" asp-action="Index" class="btn btn-success mt-3">Explore Projects</a>
    <a asp-controller="Home" asp-action="About" class="btn btn-secondary mt-3">Learn More</a>
</div>


@* <h1 class="display-4">❇️🎆✨🎇✴️</h1> *@
